* {
    box-sizing: border-box;
}

footer p {
    text-align: center;
    color: white;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

#main {
    display: flex;
    flex: 1;
}

#main > article {
    flex: 1;
}

#main > nav {
    flex: 0 0 20vw;
    background:  bisque;
    order: -1;
}

nav li{
    list-style-type: none;
    margin: 10px 0;
}

header {
    display: flex;
    background: darkblue;
    height: 300px;
    align-items: center;
    padding: 50px;
}

#logo {
    height: 100%;
}

footer {
    justify-content: center;
    align-items: center;
    display: flex;
    background: darkblue;
    height: 10vh;
}

footer, article, nav {
    padding: 1em;
}

#gallery-main {
    outline: 2px solid red;
    gap: 10px;
}

#gallery-container {
    outline: 2px dotted red;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    outline: 2px solid black;
    gap: 10px;
}

#gallery img {
    max-width: 30%;
    height: auto;
    object-fit: contain;
    flex: 1 1 auto;
}