* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
}

a {
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li {
    list-style-type: none;
}

.left {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 30px;
    gap: 50px;
    width: 30%;
    height: 100vh;
}

.right {
    display: flex;
    background-color: darkblue;
    width: 70%;
    padding: 2em;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row {
    display: flex;
}

.cell {
    width: 20px;
    height: 20px;
    background-color: white;
    flex: 1;
    border: .5px solid rgb(214, 214, 214);
}

footer p {
    font-size: 12px;
    text-align: left;
}

#logo {
    max-width: 100%;
    min-width: 100%;
}