* {
    background-color: antiquewhite;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row {
    display: flex;
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    background-color: white;
}
